.information {
  display: block;
  width: 50%;
  font-size: large;
}

.accordianContainer {
  display: block;
  width: 70%;
}

.accordion {
  border-radius: 15px;
  background-image: url('/public/bigstock-Wildflowers-On-A-Summer-Meadow-363800704-1024x683.jpg');
  background-blend-mode: lighten;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  margin: 10px;
  color: #000;
  font-size: 32px;
  cursor: pointer;
  width: 80%;
  text-align: center;
  border: 2px;
  outline: none;
  transition: 0.4s;
}

.accordion-btn {
  padding: 5px 60px 5px 60px;
  margin: 5px;
  font-size: 32px;
  color: #12231D;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.137);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-btn:hover {
  backdrop-filter: blur(25px);
  border: 2px solid #4CAF50;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 15px;
  border-radius: 15px;
  background-color: #87A488;
  width: 80%;

}