.h1 {
    margin: 20px
}

.h2 {
    margin: 15px
}

.myGarden {
    height: 100%;
}


.containerMargin {
    margin: 0px 50px 50px 50px;
}

.myContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 25px;
}

.myItem {
    /* border: 2px solid black; */
    display: grid;
    border-radius: 30px;
    grid-template-rows: 45px 280px 37px repeat(2, 20px) 30px;
    row-gap: 10px;
    padding: 10px;
    background-color: #577558;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

h4.grid-item {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.sciName {
    font-size: 20px;

}

img.grid-item {
    justify-self: center;
    transition: transform .2s ease-out;
    cursor: pointer;
}

img.grid-item:hover {
    transform: scale(2.0);
}

.editPlantsBtn {
    cursor: pointer;
    background-color: #AFA4F3;
    border: .5px solid #9b8ef0;
    outline: 0;
    border-radius: 10px;
    padding: 7px 12px;
    margin-bottom: 15px;
    max-width: fit-content;
    bottom: 10px;
    justify-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

}

.editPlantsBtn:hover {
    border: 2px solid #5E559A;
}

.deleteBtn {
    background-color: #ed2e0888;
    border: none;
    /* border: 2px solid #ed2e0888; */
    outline: 0;
    border-radius: 10px;
    padding: 7px 12px;
    margin: 10px;
    max-width: fit-content;
    bottom: 5px;
    justify-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    text-rendering: geometricPrecision;

}

.deleteBtn:hover {
    border: 2px solid #6f170688;
}