.containerMargin {
    margin: 0px 50px 50px 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 25px;
}

.item {
    display: grid;
    border-radius: 15px;
    border: .1px solid #9b8ef0;
    grid-template-rows: 45px 280px 37px repeat(2, 20px) 30px;
    row-gap: 5px;
    padding: 10px;

    background-color: #AFA4F3;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

}

.itemSelected {
    display: grid;
    border-radius: 15px;
    grid-template-rows: 45px 280px 37px repeat(2, 20px) 30px;
    row-gap: 5px;
    padding: 10px;
    background-color: #87A488;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

}

h4.grid-item {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: flex-start;
}


img.grid-item {
    justify-self: center;
}

.saveToGarden {
    background-color: #577558;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding: 7px 12px;
    margin: 10px;
    max-width: fit-content;
    bottom: 5px;
    justify-self: center;
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    text-rendering: geometricPrecision;
}

.saveToGarden:hover {
    border: 2px solid #4CAF50;
}

.saveToGarden:disabled {
    visibility: hidden;
}

.viewMyGarden {
    background-color: #AFA4F3;
    border: .5px solid #9b8ef0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding: 7px 12px;
    margin: 5px;
    max-width: fit-content;
    bottom: 5px;
    font-size: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

}

.viewMyGarden:hover {
    border: 2px solid #5E559A;
}