.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
  background-color: #87A488;
  border: 1px solid #7c9c7d;
  overflow: hidden;
  box-shadow: 10px 10px 30px #738b74,
    -10px -10px 30px #9bbd9c;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 32px;
  font-weight: 700;
  color: #12231D;
  padding-left: 10px;
  margin-left: 30px;
}

.nav-title:hover {
  color: #5E559A;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #87A488;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;

}

.navLink:hover {
  color: #5E559A;
}